<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="0; url=http://instagram.com/thomasmichaeler">
    <title>Thomas Michaeler</title>

    <link href="../../css/main.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
      <section class="panel forward">
        <div class="vert-cell">
          <h1 class="text-headline">You're being forwarded!</h1>
        </div>
      </section>
  </body>
</html>