<div class="vert-cell">
  <section class="overview-icon">
      <a href="views/forwards/icon_l.html" class="icon-link" title="LinkedIn">
        <svg viewBox="0 0 100 100" class="icon-medium icon-icon_l">
          <use xlink:href="#icon-icon_l"></use>
        </svg>
      </a>
  </section>
  <section class="overview-icon">
      <a href="views/forwards/icon_i.html" class="icon-link" title="Instagram">
        <svg viewBox="0 0 100 100" class="icon-medium icon-icon_i">
          <use xlink:href="#icon-icon_i"></use>
        </svg>
      </a>
  </section>
  <section class="overview-icon">
      <a href="views/forwards/icon_t.html" class="icon-link" title="Twitter">
        <svg viewBox="0 0 100 100" class="icon-medium icon-icon_t">
          <use xlink:href="#icon-icon_t"></use>
        </svg>
      </a>
  </section>
  <section class="overview-icon">
      <a href="views/forwards/icon_g.html" class="icon-link" title="Google Plus">
        <svg viewBox="0 0 100 100" class="icon-medium icon-icon_g">
          <use xlink:href="#icon-icon_g"></use>
        </svg>
      </a>
  </section>
  <section class="overview-icon">
      <a href="views/forwards/icon_m.html" class="icon-link" title="Medium">
        <svg viewBox="0 0 100 100" class="icon-medium icon-icon_m">
          <use xlink:href="#icon-icon_m"></use>
        </svg>
      </a>
  </section>
  <section class="overview-icon">
      <a href="#" class="icon-link" ng-click="indexCtrl.contactscroll()" title="Contact Form">
        <svg viewBox="0 0 100 100" class="icon-medium icon-icon_e">
          <use xlink:href="#icon-icon_e"></use>
        </svg>
      </a>
  </section>
</div>