SetEnvIfNoCase Referer semalt.com spambot=yes
SetEnvIfNoCase Referer darodar.com spambot=yes
SetEnvIfNoCase Referer buttons-for-website.com spambot=yes
SetEnvIfNoCase Referer fbdownloader.com spambot=yes
SetEnvIfNoCase Referer descargar-musicas-gratis.com spambot=yes
SetEnvIfNoCase Referer baixar-musicas-gratis.comsavetubevideo.com spambot=yes
SetEnvIfNoCase Referer srecorder.com spambot=yes
SetEnvIfNoCase Referer kambasoft.com spambot=yes
SetEnvIfNoCase Referer ilovevitaly.com spambot=yes
SetEnvIfNoCase Referer ilovevitaly.co spambot=yes
SetEnvIfNoCase Referer ilovevitaly.ru spambot=yes
SetEnvIfNoCase Referer blackhatworth.com spambot=yes
SetEnvIfNoCase Referer priceg.com spambot=yes
SetEnvIfNoCase Referer backgroundpictures.net spambot=yes
SetEnvIfNoCase Referer embedle.com spambot=yes
SetEnvIfNoCase Referer extener.com spambot=yes
SetEnvIfNoCase Referer extener.org spambot=yes
SetEnvIfNoCase Referer fbfreegifts.com spambot=yes
SetEnvIfNoCase Referer feedouble.com spambot=yes
SetEnvIfNoCase Referer feedouble.net spambot=yes
SetEnvIfNoCase Referer japfm.com spambot=yes
SetEnvIfNoCase Referer joinandplay.me spambot=yes
SetEnvIfNoCase Referer joingames.org spambot=yes
SetEnvIfNoCase Referer iskalko.ru spambot=yes
SetEnvIfNoCase Referer musicprojectfoundation.com spambot=yes
SetEnvIfNoCase Referer myprintscreen.com spambot=yes
SetEnvIfNoCase Referer slftsdybbg.ru spambot=yes
SetEnvIfNoCase Referer edakgfvwql.ru spambot=yes
SetEnvIfNoCase Referer openfrost.com spambot=yes
SetEnvIfNoCase Referer openfrost.net spambot=yes
SetEnvIfNoCase Referer openmediasoft.com spambot=yes
SetEnvIfNoCase Referer serw.clicksor.com spambot=yes
SetEnvIfNoCase Referer socialseet.ru spambot=yes
SetEnvIfNoCase Referer sharebutton.net spambot=yes
SetEnvIfNoCase Referer cityadspix.com spambot=yes
SetEnvIfNoCase Referer screentoolkit.com spambot=yes
SetEnvIfNoCase Referer softomix.com spambot=yes
SetEnvIfNoCase Referer softomix.net spambot=yes
SetEnvIfNoCase Referer softomix.ru spambot=yes
SetEnvIfNoCase Referer gobongo.info spambot=yes
SetEnvIfNoCase Referer myftpupload.com spambot=yes
SetEnvIfNoCase Referer websocial.me spambot=yes
SetEnvIfNoCase Referer luxup.ru spambot=yes
SetEnvIfNoCase Referer ykecwqlixx.ru spambot=yes
SetEnvIfNoCase Referer soundfrost.org spambot=yes
SetEnvIfNoCase Referer seoexperimenty.ru spambot=yes
SetEnvIfNoCase Referer cenokos.ru spambot=yes
SetEnvIfNoCase Referer star61.de spambot=yes
SetEnvIfNoCase Referer superiends.org spambot=yes
SetEnvIfNoCase Referer vapmedia.org spambot=yes
SetEnvIfNoCase Referer econom.co spambot=yes
SetEnvIfNoCase Referer vodkoved.ru spambot=yes
SetEnvIfNoCase Referer adcash.com spambot=yes
SetEnvIfNoCase Referer videofrost.com spambot=yes
SetEnvIfNoCase Referer youtubedownload.org spambot=yes
SetEnvIfNoCase Referer zazagames.org spambot=yes
SetEnvIfNoCase Referer 7makemoneyonline.com spambot=yes
SetEnvIfNoCase Referer ranksonic.info spambot=yes
SetEnvIfNoCase Referer hulfingtonpost.com spambot=yes
SetEnvIfNoCase Referer viandpet.com spambot=yes
SetEnvIfNoCase Referer a-hau.mk spambot=yes
SetEnvIfNoCase Referer cfsrating.sonicwall.com:8080 spambot=yes
SetEnvIfNoCase Referer yougetsignal.com spambot=yes
SetEnvIfNoCase Referer cenoval.ru spambot=yes
SetEnvIfNoCase Referer bestwebsiteawards.com spambot=yes
SetEnvIfNoCase Referer bestwebsitesawards.com spambot=yes
SetEnvIfNoCase Referer simple-share-buttons.com spambot=yes
SetEnvIfNoCase Referer adviceforum.info spambot=yes
SetEnvIfNoCase Referer o-o-6-o-o.com spambot=yes
SetEnvIfNoCase Referer o-o-8-o-o.com spambot=yes
SetEnvIfNoCase Referer humanorightswatch.org spambot=yes
SetEnvIfNoCase Referer smailik.org spambot=yes
SetEnvIfNoCase Referer s.click.aliexpress.com spambot=yes
SetEnvIfNoCase Referer social-buttons.com spambot=yes
SetEnvIfNoCase Referer 4webmasters.org spambot=yes
SetEnvIfNoCase Referer best-seo-offer.com spambot=yes
SetEnvIfNoCase Referer best-seo-solution.com spambot=yes
SetEnvIfNoCase Referer buttons-for-your-website.com spambot=yes
SetEnvIfNoCase Referer www.Get-Free-Traffic-Now.com spambot=yes
SetEnvIfNoCase Referer free-share-buttons.co spambot=yes
SetEnvIfNoCase Referer theguardlan.com spambot=yes
SetEnvIfNoCase Referer googlsucks.com spambot=yes
SetEnvIfNoCase Referer buy-cheap-online.info spambot=yes
SetEnvIfNoCase Referer forum69.info spambot=yes
SetEnvIfNoCase Referer meendo-free-traffic.ga spambot=yes
SetEnvIfNoCase Referer www.kabbalah-red-bracelets.com spambot=yes
SetEnvIfNoCase Referer pornhub-forum.ga spambot=yes
SetEnvIfNoCase Referer pornhubforum.tk spambot=yes
SetEnvIfNoCase Referer anal-acrobats.hol.es spambot=yes
SetEnvIfNoCase Referer youporn-forum.ga spambot=yes
SetEnvIfNoCase Referer sexyteens.hol.es spambot=yes
SetEnvIfNoCase Referer amanda-porn.ga spambot=yes
SetEnvIfNoCase Referer generalporn.org spambot=yes
SetEnvIfNoCase Referer depositfiles-porn.ga spambot=yes
SetEnvIfNoCase Referer rapidgator-porn.ga spambot=yes
SetEnvIfNoCase Referer torture.ml spambot=yes
SetEnvIfNoCase Referer domination.ml spambot=yes
SetEnvIfNoCase Referer webmaster-traffic.com spambot=yes
SetEnvIfNoCase Referer youporn-forum.uni.me spambot=yes
SetEnvIfNoCase Referer www.event-tracking.com spambot=yes
SetEnvIfNoCase Referer free-share-buttons.com spambot=yes
SetEnvIfNoCase Referer free-social-buttons.com spambot=yes
SetEnvIfNoCase Referer guardlink.org spambot=yes
SetEnvIfNoCase Referer redtube-talk.ga spambot=yes
SetEnvIfNoCase Referer sanjosestartups.com spambot=yes
SetEnvIfNoCase Referer trafficmonetize.org spambot=yes
SetEnvIfNoCase Referer sitevaluation.org spambot=yes
SetEnvIfNoCase Referer 100dollars-seo.com spambot=yes
SetEnvIfNoCase Referer dailyrank.net spambot=yes
SetEnvIfNoCase Referer howtostopreferralspam.eu spambot=yes

Order allow,deny
Allow from all
Deny from env=spambot